.header {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  width: 100%; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header span {
  color: black;
  margin-right: 10px;
}

.logo img {
  margin-left: 20px;
  height: 80px; 
}
.search-bar {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 50px;
}

.search-container input {
  background-color: #2D3E76;
  padding: 10px;
  color: white;
  margin-right: 10px;
  border-radius: 5px;
}
.search-container input::placeholder {
  color: #ffffff;
  opacity: 1;
}
.user {
  width: 40px;
  height: 40px; 
  background-color: #2D3E76; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.user-icon {
  width: 28px;
  height: 28px;
}
.search {
  width: 40px;
  height: 40px;
  background-color: #2D3E76;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.search img {
  width: 20px;
  height: 20px;
}
.person {
  display: flex;

}


/* Media Queries */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .search-bar {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .search-container {
    align-items: center;
    align-content: center;
    align-self: center;
  }
  .user {
    align-items: center;
    align-content: center;
  }
  .logo img {
    height: 60px; 
  }
}

@media (max-width: 480px) {
  .header {
    padding: 5px;
  }

  .logo img {
    height: 50px;
  }

  .search-container input {
    padding: 8px;
  }

  .user {
    width: 35px;
    height: 35px;
  }

  .search {
    width: 35px;
    height: 35px;
  }
}
